* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

p, a {
color: black;
font-family: "Verdana";
text-align: center;
}
    

h1 {
    font-family: "Verdana";
    font-size: 2.6em;
    text-align: center;
}

h2 {
    font-family: "Verdana";
    text-align:center;
}
    
.highlight {
background-color: #d0e0ff;
padding: 10px;
}

div.tablepasswords {
    top:100px;
    left:90px;
}
#passwordmessage {
    background: transparent;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
#passwordmeetsmessage {
    display: none;
}
.valid {
    color:green;
}

.invalid {
    color:red;
}

#main-title {
font-family: "Verdana";
color:black;
}
    
.login-box {
    max-width: 250px;
    margin: 0 auto;
    text-align: center;
}
input {
    padding: 10px;
    margin-top: 25px;
    border: none;
    border-radius: 10px;
    background: transparent;
    border: 1px solid blue;
    color: #000;
    font-size: 15px;
}
button {
    background: #54f7a8;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}
button:hover {
    background: transparent;
    color: black;
    outline: 1px solid #fff;
}
.logoutbutton {
    position:absolute;
    top:10px;
    right:30px;
    width: 150px;
}
.clearbutton {
    position:absolute;
    top:50px;
    right:30px;
    width: 150px;
}

.settingsbutton {
    position:absolute;
    top:90px;
    right:30px;
    width: 150px;
}

.modal {
    display: inline;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #d0e0ff;
    padding-top: 60px;
    font-family: Verdana;
  }
  
  .modal-content {
    margin: 20px auto;
    width: 40%;
    text-align: center;
    padding-bottom: 20px;
  }
  

  .saveModal {
    display: inline;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    overflow: auto;
    background-color: #ffffff;
    padding-top: 30px;
    font-family: Verdana;
  }
  
  .saveModal-content {
    margin: 10px;
    width: 40%;
    text-align: left;
    padding-bottom: 10px;
  }
  
#savemodalclose {
    position:absolute;
    top:10px;
    right:10px;
}

div.showModal {
    display: inline;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    overflow: auto;
    background-color: #ffffff;
    padding-top: 30px;
    padding-left:10px;
    font-family: Verdana;
}
.showModalContent {
    margin: 10px;
    width: 40%;
    text-align: left;
    padding-bottom: 10px;
  }
  
#showmodalclose {
    position:absolute;
    top:10px;
    right:10px;
}


.dropbtn {
    cursor:pointer;
}
.dropdown {
    position:relative;
    display:inline-block;
}
.dropcont {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropcont b {
    color: black;
    padding: 12px 16px;
    display: block;
  }
  
.dropcont b:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropcont {
    display: block;
  }
.dropcont:hover .dropbtn {
    background-color: #3e8e41;
  }
  